In [1]:
#import splinter,beautiful soup,and pandas
from splinter import Browser 
from bs4 import BeautifulSoup as soup
import pandas as pd 
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#set up Splinter 
executable_path ={'executable_path':ChromeDriverManager().install()}
browser =Browser('chrome',**executable_path,headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\Rahul-Kritika\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

# NASA Mars News

In [3]:
url ='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
browser.is_element_present_by_css('div.list_text',wait_time=1)

True

In [4]:
#convert the browser html to a soup object
html = browser.html
news_soup =soup(html, 'html.parser')
slide_elem =news_soup.select_one('div.list_text')

In [5]:
news_title =slide_elem.find('div',class_='content_title').get_text()
news_title

"NASA's Curiosity Rover Captures Shining Clouds on Mars"

In [6]:
news_p =slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

'The science team is studying the clouds, which arrived earlier and formed higher than expected, to learn more about the Red Planet. '

# JPL Mars

In [7]:
url ='https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [8]:
full_image =browser.find_by_tag('button')[1]
full_image.click()

In [9]:
#resulting html with soup
html =browser.html
img_soup =soup(html,'html.parser')

In [10]:
imag_url_rel =img_soup.find('img',class_='fancybox-image').get('src')
imag_url_rel

'image/featured/mars3.jpg'

In [11]:
#use the base url to creat an absolute url
img_url =f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/{imag_url_rel}'
img_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/image/featured/mars3.jpg'

# MARS FACTS

In [12]:
#Use 'pd.read_html'to pull the  data from the Mars-Earth comparison section
mars_df=pd.read_html('https://space-facts.com/mars/')[1]
mars_df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [13]:
mars_df.columns=['Description','Mars','Earth']
mars_df.set_index('Description',inplace=True)
mars_df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [14]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
print(mars_df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

# Hemispheres

In [16]:
urls ='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(urls)

In [17]:
#create a list to hold the image and titles.
hemisphere_image_urls =[]

#get a list of all the hemispher by finding 
links = browser.find_by_css('a.product-item img')

#creat a loop 
for i in range(len(links)):
    hemisphere ={}
    
# finding element
    browser.find_by_css('a.product-item img')[i].click()
    sample_elem =browser.links.find_by_text('Sample').first
    hemisphere['image_url'] = sample_elem['href']
    
#get hemisphere title 
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
#Append hemisphere object to list 
    hemisphere_image_urls.append(hemisphere)
    
#finally backwards
    browser.back()

In [18]:
hemisphere_image_urls

[{'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [19]:
#close the browser
browser.quit()